* {
  margin: 0;
  padding: 0;
}
body {
  background: url("../images/backcover.svg") no-repeat right;
  background-size: 45rem 45rem;
}
.main-div {
  display: flex;
  flex-direction: column;
}
.nav-bar {
  display: flex;
  width: 80vw;
  align-self: center;
  justify-content: space-between;
}
.logo {
  width: 6rem;
  height: 6rem;
}
.nav-items {
  display: flex;
  width: 40vw;
  justify-content: space-around;
  align-items: center;
  color: #3e4794;
  font-size: 18px;
}
.signin-btn {
  height: 2rem;
  width: 6rem;
  text-align: center;
  align-self: center;
  font-size: 15px;
  color: #ffffff;
  border-radius: 2rem;
  border: none;
  background: linear-gradient(90deg, #965cf2 30%, #f083df 70%);
}
.intro-section {
  display: flex;
  width: 90vw;
  align-self: flex-end;
  justify-content: space-between;
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 16rem;
  height: 30rem;
  color: #444c97;
}
.left-section h1 {
  font-size: 40px;
}
.left-section h4 {
  font-weight: 100;
}
.learn-more-btn {
  width: 10rem;
  height: 2.5rem;
  font-size: 15px;
  border: none;
  border-radius: 2rem;
  color: #ffffff;
  background: linear-gradient(90deg, #965cf2 30%, #f083df 70%);
}

.imgs-div {
  width: 67rem;
  display: flex;
  justify-content: space-evenly;
}
.intro-img {
  width: 40rem;
  height: 37rem;
}
.vector-img {
  align-self: flex-end;
  position: relative;
  left: 12rem;
  bottom: 6rem;
}
.vector-dot {
  align-self: flex-end;
  position: relative;
  left: 5rem;
  bottom: 12rem;
}
